venv/
__pycache__/
*.pyc
*.wav
*.mp3
.env
output_xtts.wav
tests/audio/test_recording.wav
*.jsonl
*.key
temp_audio/
secure_vault/
decrypted_audio/

logs/
whisper-tamil-medium-ct2/
*.webm
Fine_tune/
Subtitle_Extract/yt_audio_download
